.banner {
    padding-top: 3rem;
}

.banner__container {
    background-color: var(--second-color);
    padding: 1rem 1.5rem;
}

.banner__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.banner__item {
    color: var(--second-color-dark);
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.banner__item i {
    font-size: 1.5rem;
}

.banner__item span {
    font: var(--small-font-size) var(--second-font);
}