.care {
    background-color: var(--first-color-dark);
}

.care__conatiner {
    row-gap: 3rem;
    padding-block: 1rem 2rem;
}

.care__list {
    display: grid;
    row-gap: 1.25rem;
}

.care__item {
    display: flex;
    column-gap: .75rem;
    align-items: center;
}

.care__item i {
    font-size: 1.5rem;
    color: var(--second-color);
}

.care__img {
    width: 320px;
    filter: var(--shadow-img);
    justify-self: center;
}