.contact__container {
    position: relative;
    background-color: var(--first-color-darken);
    padding-top: 3.5rem;
    border-radius: 3rem;
    box-shadow: inset var(--shadow-card);
    overflow: hidden;
}

.contact__content {
    padding-top: 1rem;
    row-gap: 3rem;
}

.contact__data {
    text-align: center;
}

.contact__title {
    font: var(--font-regular) var(--h2-font-size) var(--second-font);
    margin-bottom: .5rem;
}

.contact__social {
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}

.contact__social a {
    color: var(--second-color);
    font-size: 1.5rem;
}

.contact__info {
    font-style: normal;
}

.contact__img {
    width: 200px;
    justify-self: center;
    filter: var(--shadow-img);
}

.contact__shrimp,
.contact__crab,
.contact__meat {
    position: absolute;
    width: 40px;
    opacity: .5;
}

.contact__shrimp {
    top: 9rem;
    right: 1.5rem;
    rotate: 15deg;
}

.contact__crab {
    top: 17rem;
    left: 1rem;
    rotate: 15deg;
}

.contact__meat {
    right: 2rem;
    bottom: 11rem;
    rotate: -15deg;
}