.home__container {
    padding-top: 1.5rem;
    justify-content: center;
    row-gap: 4rem;
}

.home__data {
    position: relative;
    text-align: center;
}

.home__title {
    font: var(--font-regular) var(--biggest-font-size) var(--second-font) ;
    line-height: 100%;
    margin-bottom: 1rem;
    text-shadow: var(--shadow-text);
}

.home__description {
    margin-bottom: 2.5rem;
}

.home__meat {
    width: 40px;
    position: absolute;
    top: 9rem;
    right: 0;
    opacity: .5;
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2.5rem;
}

.button {
    background-color: var(--second-color);
    color: var(--second-color-dark);
    font-weight: var(--font-semi-bold);
    padding: .75rem 2rem;
    border-radius: 4rem;
    box-shadow: inset var(--shadow-button);
}

.button__buy {
    background-color: transparent;
    box-shadow: none;
    border: 3px solid var(--second-color);
    color: var(--second-color);
}

.home__images {
    position: relative;
    display: grid;
    place-items: center;
    justify-self: center;
}

.home__circle {
    width: 320px;
    height: 320px;
    background-color: var(--first-color-darken);
    border-radius: 50%;
    box-shadow: inset var(--shadow-circle);
    display: grid;
    place-items: center;
}

.home__subcircle {
    width: 250px;
    height: 250px;
    background-color: var(--second-color);
    border-radius: 50%;
    box-shadow: inset var(--shadow-circle);
}

.home__images .home__chips {
    width: 250px;
    rotate: 10deg;
    filter: var(--shadow-img);
    position: absolute;
}

.home__images img {
    width: 60px;
    filter: var(--shadow-img);
    position: absolute;
}

.home__chips-1 {
    right: -.5rem;
}

.home__chips-2 {
    bottom: -.75rem;
    right: .5rem;
}

.home__chips-3 {
    top: .25rem;
    left: -.5rem;
}

.home__tomato-1 {
    top: -1.5rem;
    right: 2.5rem;
}

.home__tomato-2 {
    left: 3.5rem;
    bottom: -1.5rem;
}

.home__leaf-3 {
    left: -.75rem;
}